[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = re is a ?CLI ?code review tool for GitHub. Do code reviews from the comfort of your $EDITOR!
[access "refs/*"]
	owner = group user/Jordan Lewis (jordanlewis)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jordan Lewis (jordanlewis)
	label-Verified = -1..+1 group user/Jordan Lewis (jordanlewis)
	push = group user/Jordan Lewis (jordanlewis)
	read = group user/Jordan Lewis (jordanlewis)
	rebase = group user/Jordan Lewis (jordanlewis)
	removeReviewer = group user/Jordan Lewis (jordanlewis)
	submit = group user/Jordan Lewis (jordanlewis)
[access "refs/heads/*"]
	create = group user/Jordan Lewis (jordanlewis)
	push = +force group user/Jordan Lewis (jordanlewis)
	pushMerge = group user/Jordan Lewis (jordanlewis)
	read = group user/Jordan Lewis (jordanlewis)
[access "refs/tags/*"]
	push = group user/Jordan Lewis (jordanlewis)
	push = +force group user/Jordan Lewis (jordanlewis)
